
<!DOCTYPE html>
<html>
<head>
    <title>Smart Exam Hall Seat Allocation</title>
</head>
<body>
    <h1>Smart Examination Hall Seat Allocating System</h1>

    <h2>Add Hall</h2>
    <form action="/add_hall" method="POST">
        Hall Name: <input type="text" name="hall_name" required><br><br>
        Rows: <input type="number" name="rows" required><br><br>
        Columns: <input type="number" name="cols" required><br><br>
        <button type="submit">Add Hall</button>
    </form>

    <h2>Add Student</h2>
    <form action="/add_student" method="POST">
        Reg No: <input type="text" name="reg_no" required><br><br>
        Name: <input type="text" name="name" required><br><br>
        Subject: <input type="text" name="subject" required><br><br>
        <button type="submit">Add Student</button>
    </form>

    <h2>Allocate Seats</h2>
    <form action="/allocate" method="POST">
        <button type="submit">Allocate Now</button>
    </form>

    <br>
    <a href="/view_seats">View Allocated Seats</a>
</body>
</html>
